@media screen and (max-width:720px) and (min-width:480px){
	.more{
		display: none;
	}
	header{
		width: 100%;
		background: #333333;
		top: 0;
		z-index: 10000;
	}
	header .logo,menu{float: left;}
	.header{
		width: 100%;
		max-width: 1000px;
		height: 70px;
		margin: 0 auto;
		position: relative;
	}
	.header .logo{
		width: 17%;
		min-width: 114px;
		padding-top: 11px;
		margin-right: 9.6%;
	}
	.header menu{
		width: 73.4%;
		display: none;
	}
	.header .slogin1{
		width: 83%;
		height: 70px;
		line-height: 70px;
		font-size: 20px;
		font-family: "微软雅黑";
		color: #C0C0C0;
		text-align: center;
	}
	.header .slogin2{display: none;}
	.header .pop{
		width: 50px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 15px;
	}
	nav{
		width: 100%;
		background: #413f3f;
		overflow: hidden;
		transition: 1s;
	}
	nav span{
		display: block;
		width: 40px;
		font-size: 12px;
		border: 1px solid #CCCCCC;
		font-size: 12px;
		font-family: "微软雅黑";
		color: #C0C0C0;
		text-align: center;
		cursor: pointer;
		position: fixed;
		left: 130px;
		top: 150px;
	}
	nav ul{
		width: 100%;
		padding: 10px 15px 0 15px;
		margin-bottom: 0;
	}
	nav ul li{
		float: left;
		width: 23.5%;
		height: 30px;
		line-height: 30px;
		text-align: center;
		background: #999999;
		margin-right: 2%;
		margin-bottom: 2%;
	}
	nav ul li:nth-of-type(4){
		margin-right: 0;
	}
	nav ul li:last-of-type{
		margin-right: 0;
	}
	nav ul li a{
		font-size: 14px;
		font-family: "微软雅黑";
		color: #CCCCCC;
		text-decoration: none;
	}
	.serve{
		width: 100%;
		padding: 0 15px 0 15px;
		margin: 0 auto;
	}
	.serve h1{
		height: 55px;
		line-height: 55px;
		font-size: 26px;
		font-family: "微软雅黑";
		color: #010101;
		margin: 0;
	}
	.serve ul{
		width: 100%;
	}
	.serve ul li{
		float: left;
		width: 25%;
		height: 131px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding-top: 100px;
		position: relative;
	}
	.serve ul li:first-of-type{
		background: url(../images/service_1_1.jpg) no-repeat center 41px;
	}
	.serve ul li:nth-of-type(2){
		background: url(../images/service_2_1.jpg) no-repeat center 41px;
	}
	.serve ul li:nth-of-type(3){
		background: url(../images/service_3_1.jpg) no-repeat center 41px;
	}
	.serve ul li:nth-of-type(4){
		background: url(../images/service_4_1.jpg) no-repeat center 41px;
	}
	.serve ul li a{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	.serve ul li h2{
		height: 35px;
		line-height: 35px;
		font-size: 16px;
		font-family: "微软雅黑";
		color: #331e0d;
		text-align: center;
		margin: 0;
	}
	.serve ul li p{
		display: none;
	}
	.kecheng{
		width: 100%;
		padding: 0 15px 0 15px;
	}
	.kecheng h1{
		height: 70px;
		line-height: 54px;
		font-size: 26px;
		font-family: "微软雅黑";
		color: #010101;
		margin: 0;
	}
	.kecheng ul{
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.kecheng ul li{
		float: left;
		width: 33.3333%;
		height: 33.3333%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding-top: 138px;
		position: relative;
	}
	.kecheng ul li .jieshao{
		display: none;
	}
	.kecheng ul li img{
		width: 53.4926%;
		margin-left: -26.963%;
		margin-top: -26.963%;
		position: absolute;
		left: 50%;
		top: 38.30845%;
	}
	.kecheng ul li>p{
		height: 56px;
		line-height: 56px;
		font-size: 18px;
		font-family: "微软雅黑";
		color: #212121;
		text-align: center;
		margin: 0;
	}
	.school{
		width: 100%;
		padding: 0 15px 0 15px;
		margin: 0 auto;
	}
	.school h1{
		height: 100px;
		line-height: 110px;
		font-size: 26px;
		font-family: "微软雅黑";
		color: #010101;
		position: relative;
		margin: 0;
	}
	.school h1 a{
		font-size: 16px;
		font-family: arial;
		color: #f7923a;
		position: absolute;
		right: 0;
	}
	.school ul{
		width: 100%;
	}
	.school ul li{
		float: left;
		width: 47.5%;
	}
	.school ul li:nth-of-type(2n+1){
		margin-right: 5%;
	}
	.school ul li h2{
		margin-top: 0;
		margin-bottom: 0;
		height: 33px;
		line-height: 33px;
	}
	.school ul li h2 a{
		font-size: 18px;
		font-family: "微软雅黑";
		color: #3d362e;
		text-decoration: none;
	}
	.school ul li h2 a:hover{
		color: #f2d135;
	}
	.school ul li p{
		height: 26px;
		line-height: 26px;
		font-size: 12px;
		font-family: "微软雅黑";
		color: #8d8787;
		padding-bottom: 36px;
	}
	.zuopin{
		width: 100%;
		padding: 0 15px 0 15px;
	}
	.zuopin h1{
		height: 80px;
		line-height: 78px;
		font-size: 26px;
		font-family: "微软雅黑";
		color: #010101;
		margin: 0;
	}
	.zuopin ul{
		width: 100%;
	}
	.zuopin ul li{
		float: left;
		width: 32%;
		height: 32%;
		position: relative;
		overflow: hidden;
		margin: 0 2% 2% 0;
	}
	.zuopin ul li:nth-of-type(3){
		margin-right: 0;
	}
	.zuopin ul li:nth-of-type(6){
		margin-right: 0;
	}
	.zuopin ul li:nth-of-type(9){
		margin-right: 0;
	}
	.zuopin ul li:nth-of-type(12){
		margin-right: 0;
	}
	.zuopin ul li:nth-of-type(15){
		margin-right: 0;
	}
	.zuopin ul li:nth-of-type(18){
		margin-right: 0;
	}
	.zuopin ul li .sm{
		display: none;
	}
	.star{
		width: 100%;
		padding: 0 15px 0 15px;
	}
	.star h1{
		height: 100px;
		line-height: 80px;
		font-size: 26px;
		font-family: "微软雅黑";
		color: #010101;
		margin: 0;
	}
	.star ul{
		width: 100%;
		margin: 0;
	}
	.star ul li{
		float: left;
		width: 32%;
		height: 32%;
		margin: 0 2% 2% 0;
		position: relative;
	}
	.star ul li:nth-of-type(3){
		margin-right: 0;
	}
	.star ul li:nth-of-type(6){
		margin-right: 0;
	}
	.star ul li:nth-of-type(9){
		margin-right: 0;
	}
	.star ul li:nth-of-type(12){
		margin-right: 0;
	}
	.star ul li:nth-of-type(15){
		margin-right: 0;
	}
	.star ul li .xz{
		display: none;
	}
	.danwei{
		width: 100%;
		padding: 0 15px 0 15px;
	}
	.danwei h1{
		height: 80px;
		line-height: 90px;
		font-size: 26px;
		font-family: "微软雅黑";
		color: #010101;
		margin-top: 0;
		margin-bottom: 14px;
	}
	.danwei ul{
		width: 100%;
		margin-bottom: 32px;
	}
	.danwei ul li{
		float: left;
		width: 32%;
		height: 12%;
		margin: 0 2% 2% 0;
	}
	.danwei ul li:nth-of-type(3){
		margin-right: 0;
	}
	.danwei ul li:nth-of-type(6){
		margin-right: 0;
	}
	.danwei ul li:nth-of-type(9){
		margin-right: 0;
	}
	.danwei ul li:nth-of-type(12){
		margin-right: 0;
	}
	.danwei ul li:nth-of-type(15){
		margin-right: 0;
	}
	.danwei ul li:nth-of-type(18){
		margin-right: 0;
	}
	footer{
		width: 100%;
		background: #333333;
	}
	.footer{
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding: 46px 15px 15px 15px;
		margin: 0 auto;
	}
	.footer ul{
		margin: 0;
	}
	.footer ul li{
		float: left;
		min-height: 86px;
	}
	.footer ul li:first-of-type{
		width: 42%;
		margin-right: 16%;
	}
	.footer ul li:nth-of-type(2){
		width: 42%;
	}
	.footer ul li:nth-of-type(3){
		width: 42%;
		margin-right: 16%;
	}
	.footer ul li:last-of-type{
		width: 42%;
	}
	.footer ul li p{
		line-height: 28px;
		font-size: 12px;
		font-family: "微软雅黑";
		color: #FFFFFF;
		margin-bottom: 0;
	}
	.footer ul li:first-of-type p{
		text-align: right;
	}
	.footer ul li:nth-of-type(3) p{
		text-align: right;
	}
}
