header{
	width: 100%;
	background: #333333;
	top: 0;
	z-index: 999;
}
header .logo,menu{float: left;}
.header{
	width: 100%;
	max-width: 1030px;
	height: 80px;
	padding: 0 15px 0 15px;
	margin: 0 auto;
}
.header .logo{
	width: 17%;
	padding-top: 11px;
	margin-right: 9.6%;
}
.header menu{
	width: 73.4%;
}
.header menu li{
	float: left;
	width: 12.8%;
	height: 80px;
	line-height: 80px;
	text-align: center;
}
.header menu li:first-of-type{
	width: 8.85%;
}
.header menu li:nth-of-type(6){
	background: #5c5c5c;
}
.header menu li:hover{
	background: #5c5c5c;
}
.header menu li a{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	text-decoration: none;
}
.header .slogin1{display: none;}
.header .slogin2{display: none;}
.header .pop{display: none;}
	nav{
		width: 100%;
		background: #413f3f;
		overflow: hidden;
		transition: 1s;
	}
	nav span{
		display: block;
		width: 40px;
		font-size: 12px;
		border: 1px solid #CCCCCC;
		font-size: 12px;
		font-family: "微软雅黑";
		color: #C0C0C0;
		text-align: center;
		cursor: pointer;
		position: fixed;
		left: 130px;
		top: 150px;
	}
	nav ul{
		width: 100%;
		padding: 10px 15px 0 15px;
		margin-bottom: 0;
	}
	nav ul li{
		float: left;
		width: 23.5%;
		height: 30px;
		line-height: 30px;
		text-align: center;
		background: #999999;
		margin-right: 2%;
		margin-bottom: 2%;
	}
	nav ul li:nth-of-type(4){
		margin-right: 0;
	}
	nav ul li:last-of-type{
		margin-right: 0;
	}
	nav ul li a{
		font-size: 14px;
		font-family: "微软雅黑";
		color: #CCCCCC;
		text-decoration: none;
	}

/*main start*/
.main{
	width: 100%;
	max-width: 1030px;
	padding: 0 15px 0 15px;
	margin: 113px auto 0;
}
.main h2{
	height: 57px;
	line-height: 57px;
	font-size: 30px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #000000;
	text-align: center;
	margin: 0;
}
.main>p{
	height: 51px;
	line-height: 51px;
	font-size: 22px;
	font-family: "微软雅黑";
	color: #888888;
	text-align: center;
	margin-bottom: 46px;
}
.main ul{
	width: 100%;
}
.main ul li{
	float: left;
	width: 22%;
	margin-right: 4%;
}
.main ul li>div{
	height: 451px;
}
.main ul li p{
	line-height: 24px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #888888;
	margin: 0;
}
.main ul li p:first-of-type{
	margin-top: 16px;
	text-indent: 28px;
}
.main ul li h3{
	height: 29px;
	line-height: 36px;
	font-size: 18px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #888888;
	margin: 0;
}
/*main end*/

footer{
	width: 100%;
	background: #333333;
}
.footer{
	width: 100%;
	max-width: 1030px;
	height: 186px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 45px 15px 0 15px;
	margin: 0 auto;
}
.footer ul li{
	float: left;
	}
.footer ul li p{
	line-height: 28px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	margin-bottom: 0;
}
@media only screen and (min-width:1000px) {
	header{
		position: fixed;
	}
	.main ul li:nth-of-type(4){
		margin-right: 0;
	}
	.main ul li:nth-of-type(8){
		margin-right: 0;
	}
	.main ul li:nth-of-type(12){
		margin-right: 0;
	}	
	.footer ul li:first-of-type{
		width: 16.5%;
		margin-right: 7.9%;
	}
	.footer ul li:nth-of-type(2){
		width: 18%;
	}
	.footer ul li:nth-of-type(3){
		width: 21.1%;
		margin-right: 9.8%;
	}
	.footer ul li:last-of-type{
		width: 26.7%;
	}
	.footer ul li:first-of-type p{
		text-align: right;
	}
	.footer ul li:nth-of-type(3) p{
		text-align: right;
	}	
}
@media only screen and (max-width:1000px) and (min-width:720px){
	header{
		position: fixed;
	}
	.header{
		height: 70px;
	}
	.header menu li{
		height: 70px;
		line-height: 70px;
	}
	.header .slogin1{display: none;}
	.header .slogin2{display: none;}
	.header .pop{display: none;}
	/*mian start*/
	.main ul li{
		width: 30%;
		margin-right: 5%;
	}
	.main ul li:nth-of-type(3){
		margin-right: 0;
	}
	.main ul li:nth-of-type(6){
		margin-right: 0;
	}
	.main ul li:nth-of-type(9){
		margin-right: 0;
	}
	.main ul li:nth-of-type(12){
		margin-right: 0;
	}
	/*main end*/
	.footer{
		width: 100%;
		height: auto;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding: 46px 15px 0 15px;
		margin: 0 auto;
	}
	.footer ul{
		margin: 0;
	}
	.footer ul li{
		height: 86px;
	}
	.footer ul li:first-of-type{
		width: 42%;
		margin-right: 16%;
	}
	.footer ul li:nth-of-type(2){
		width: 42%;
	}
	.footer ul li:nth-of-type(3){
		width: 42%;
		margin-right: 16%;
	}
	.footer ul li:last-of-type{
		width: 42%;
	}
	.footer ul li:first-of-type p{
		text-align: right;
	}
	.footer ul li:nth-of-type(3) p{
		text-align: right;
	}	
}
@media only screen and (max-width:720px) and (min-width:480px){
	.header{
		height: 70px;
	}
	.header .logo{
		min-width: 114px;
	}
	.header menu li{
		height: 70px;
		line-height: 70px;
	}
	.header menu{
		width: 73.4%;
		display: none;
	}
	.header .slogin1{
		display: block;
		width: 83%;
		height: 70px;
		line-height: 70px;
		font-size: 20px;
		font-family: "微软雅黑";
		color: #C0C0C0;
		text-align: center;
	}
	.header .slogin2{display: none;}
	.header .pop{
		display: block;
		width: 50px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 15px;
	}
	/*main  start*/
	.main{
		margin-top: 33px;
	}
	.main ul li{
		width: 48%;
		margin-right: 4%;
	}
	.main ul li:nth-of-type(even){
		margin-right: 0;
	}
	/*main  end*/
	.footer{
		width: 100%;
		height: auto;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding: 46px 15px 0 15px;
		margin: 0 auto;
	}
	.footer ul{
		margin: 0;
	}
	.footer ul li{
		height: auto;
		margin-bottom: 10px;
	}
	.footer ul li:first-of-type{
		width: 42%;
		margin-right: 16%;
	}
	.footer ul li:nth-of-type(2){
		width: 42%;
	}
	.footer ul li:nth-of-type(3){
		width: 42%;
		margin-right: 16%;
	}
	.footer ul li:last-of-type{
		width: 42%;
	}
	.footer ul li:first-of-type p{
		text-align: right;
	}
	.footer ul li:nth-of-type(3) p{
		text-align: right;
	}
}
@media only screen and (max-width:480px) {
	.box{
		min-width: 360px;
	}
	.header{
		width: 100%;
		height: 55px;
		margin: 0 auto;
		position: relative;
	}
	.header .logo{
		width: 17%;
		min-width: 111px;
		min-height: 44px;
		padding-top: 6px;
		margin-right: 9.6%;
	}
	.header menu{
		display: none;
	}
	.header .slogin1{
		display: none;
	}
	.header .slogin2{
		display: block;
		width: 75%;
		height: 55px;
		line-height: 55px;
		font-size: 18px;
		font-family: "微软雅黑";
		color: #C0C0C0;
		text-align: right;
	}
	.header .pop{
		display: block;
		width: 50px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	/*main  start*/
	.main{
		margin-top: 33px;
	}
	.main ul li{
		float: none;
		width: 100%;
		margin: 0;
	}
	.main ul li>div{
		height: auto;
		padding-bottom: 30px;
	}
	/*main  end*/
	.footer{
		width: 100%;
		height: auto;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding: 46px 15px 0 15px;
		margin: 0 auto;
	}
	.footer ul{
		max-width: 267px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 0;
	}
	.footer ul li{
		float: none;
		width: 100%;
		height: 110px;
	}
	.footer ul li:first-of-type p:nth-of-type(2){
		text-indent: 60px;
	}
	.footer ul li:nth-of-type(3) p:nth-of-type(2){
		text-indent: 55px;
	}
	.footer ul li:nth-of-type(3) p:nth-of-type(3){
		text-indent: 55px;
	}
}